.one{
  background-color: #E0FBFC;
}
.navbar{
  color: #FFFFFF;
}
.fusha{
  width: 2000px;
  height: 20px;
}
.hello{
  font-family: 'Bellota', cursive;
  font-size: 20px;
  font-weight: bold;
}
.slide{
  background-color: #ECB8A5;
}
.nav-item{
  border:2px solid;
  border-radius: 5px;
  border-color: #ffbda6;
  margin: 10px;
  padding-left: 27px;
  background-color: #ffc5b0;
  width: 125px;
  color: #FFFFFF;
  transition-duration: 2s;
  font-family: 'Bellota', cursive;
  font-size: 20px;
  font-weight: bold;
}
.nav-item:hover{
  background-color: #C86FC9;
}
.box{
  width: 540px;
  height: 100px;
  border: 10px solid;
  border-color:#eda185;
  padding: 30px;
  background-color: #ECB8A5;
  font-family: 'Cookie', cursive;
}
.card{
  height: 500px;
}
.dos{
  height: 500px;
}
.uno{
  width: 200px;
  height: 100px;
  background-color:#ffc5b0;
}
.ahhh{
  font-family: 'Bellota', cursive;
  font-size:30px;
  font-weight: bold;
}
.footer{
  background-color: #E0FBFC;
}
